/*パディング*/
/*top*/
.u-pt_m{
padding-top: $space_m;
}
.u-pt_l {
padding-top: $space_l;
}
.u-pt_xl {
padding-top: $space_xl;
}
.u-pt_xxl {
padding-top: $space_xxl;
}
.u-pt_3l {
padding-top: $space_3l;
}
.u-pt_4l{
padding-top: $space_4l;
}
.u-pt_85{
padding-top: 85px;
}

/*right*/
.u-pr_m{
padding-right: $space_m;
}
.u-pr_l{
padding-right: $space_l;
}
.u-pr_xl{
padding-right: $space_xl;
}
.u-pr_xxl{
padding-right: $space_xxl;
}
.u-pr_3l{
padding-right: $space_3l;
}
.u-pr_4l{
padding-right: $space_4l;
}
.u-pr_6l{
padding-right: $space_3l*2;
}

/*bottom*/
.u-pb_m {
padding-bottom: $space_m;
}
.u-pb_l {
padding-bottom: $space_l;
}
.u-pb_xl{
padding-bottom: $space_xl;
}
.u-pb_xxl{
padding-bottom: $space_xxl;
}
.u-pb_3l{
padding-bottom: $space_3l;
}
.u-pb_4l{
padding-bottom: $space_4l;
}
/*left*/
.u-pl_m {
padding-left: $space_m;
}
.u-pl_l {
padding-left: $space_l;
}
.u-pl_xl {
padding-left: $space_xl;
}
.u-pl_xxl {
padding-left: $space_xxl;
}
.u-pl_3l {
padding-left: $space_3l;
}
.u-pl_4l {
padding-left: $space_4l;
}

.u-pl_6l {
padding-left: $space_3l*2;
}
