/*送信ボタン(黄色)*/
.button {
	padding: $space_s $space_l;
	height: $space_xxl;
	border-radius: 10px;
	font-size: $font-size_default;
	border: none;
	box-sizing: border-box;
	&--yellow{
		@extend .button;
		background: $accent-color_btn;
		box-shadow: 0 0 8px $accent-color_btn;
		color: $non-color-gray
		&:hover{
			color: $non-color-gray;
		}
	}
	&--blue{
		@extend .button;
		background: $main-color;
		color: $non-color-white-0;
		width: 40%;
		&:hover{
			color: $non-color-white-0;
		}
	}
	&--yes{
		@extend .button;
		background: $accent-color_badge;
		margin-bottom: 10px;
		padding: 8px;
		box-sizing: border-box;
		border-radius: 5px;
		cursor: pointer;
		color: $non-color-white-0;
		width: 40%;
		&:hover{
			background: #EB7383;
		}
	}
	&--no{
		@extend .button;
		background: $accent-color_link;
		margin-bottom: 10px;
		padding: 8px;
		box-sizing: border-box;
		border-radius: 5px;
		cursor: pointer;
		color: $non-color-white-0;
		width: 40%;
		&:hover{
			background: #6365D6;
		}
	}
	&--select{
		@extend .button;
		background: $accent-color_btn;
		margin-bottom: 10px;
		padding: 8px;
		box-sizing: border-box;
		border-radius: 5px;
		cursor: pointer;
		color: $non-color-gray;
		&--3{
			width: 33%;
		}
		&--6{
			width: 45%;
		}
		&:hover{
			background: #FAE34B;
		}
	}
	&--dm{
		background: $main-color;
		color: $non-color-white-0;
		height: $space_xl;
		border-radius: $space_xl / 2;
		cursor: default;
		&:hover{
			color: $non-color-white-0;
		}
	}
	&__40{
		width: 40%;
	}
	&__30{
		width: 30%;
	}
}

.button-box2{
	width: 60%;
	margin: auto;
}

.button-box3{
	width: 80%;
	margin: auto;
}
