.input{
	background: $non-color-white-0;
	margin-top: $space_s;
	margin-bottom: $space_s;
	padding: $space_s;
	width: 100%;
	height: $space_xl;
	font-size: $font-size_default;
	border: 1px solid $non-color-ligthgray;
}