#check {
  width: 700px;
  height: 450px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#check ul {

  box-sizing: border-box;
  /*position: absolute;*/
  bottom: 30px;
}
.q {
  margin-left: 650px;
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 70px;
}
.q:first-child {
  margin-left: 0;
}
