.textarea{
	background: $non-color-white-0;
	margin-top: $space_s;
	margin-bottom: $space_s;
	padding: $space_s;
	width: 100%;
	border: 1px solid $non-color-ligthgray;
	font-size: $font-size_default;
	padding-left: $space_l;
	min-height: 200px;
}
